# Large data files
data/genome/*.fasta
data/genome/*.fai
data/genome/*.gff
data/genome/*.gbff
data/genome/*.index
models/dimers/standardized_files/*.pdb
models/tetramers/standardized_files/*.pdb

# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
*.log
*.err
*.out

# Temporary files
tmp/
temp/